a {
    text-decoration: none;
}

.header-container {
    color: #555555;
    padding: 1.2vw 12vw;
    width: 100%;
    font-family: "Jost-Regular";
    font-size: 0.83vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #0072c6;
    color: #1f4e79;
    font-family: "Jost-ExtraBold";
    font-size: 1.4vw;
}

.logo-learn {
    color: #1f4e79;
}

.user-info {
    width: 2.2vw;
    height: 2.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f4e79;
    color: #fafafa;
    font-family: "Jost-Bold";
    border-radius: 50%;
    overflow: hidden;
}

.footer-container {
    background-color: transparent;
    color: #555555;
    padding: 1.2vw 0;
    width: 100%;
    font-family: "Jost-Regular";
    font-size: 0.83vw;
}

/* Styles for buttons component */
.filled-button {
    box-shadow: none;
    border-color: transparent;
    font-family: "Jost-SemiBold";
    background-color: #1f4e79;
    padding: 0.7vw 3vw;
    border-radius: 0.16vw;
    color: #fafafa;
    font-size: 0.83vw;
    width: 100%;
}

.filled-button-large {
    box-shadow: none;
    border-color: transparent;
    font-family: "Jost-SemiBold";
    background-color: #1f4e79;
    padding: 0.7vw 3vw;
    border-radius: 0.16vw;
    color: #fafafa;
    font-size: 0.83vw;
    width: 100%;
}

.outlined-button {
    background-color: transparent;
    font-family: "Jost-SemiBold";
    border-color: #1f4e79;
    padding: 0.6vw 3vw;
    border-radius: 0.16vw;
    color: #1f4e79;
    font-size: 0.83vw;
    box-shadow: none;
}

.outlined-button-1 {
    background-color: transparent;
    font-family: "Jost-Medium";
    border-color: #1f4e79;
    padding: 0.6vw 3vw;
    border-radius: 0.16vw;
    color: #1f4e79;
    font-size: 0.76vw;
    box-shadow: none;
}

.link-button {
    font-family: "Jost-SemiBold";
    font-size: 0.83vw;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.tabs-component-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 4%;
}

.tab-button {
    background-color: transparent;
    width: 100%;
    padding: 0.6vw 0vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    font-family: "Jost-Medium";
    font-size: 0.96vw;
    border: none;
    cursor: pointer;
    border-bottom: 0.1vw solid #ccc;
}

.tab-button:hover,
.active-tab-button:hover {
    color: #1f4e79;
}

.tab-button:visited,
.active-tab-button:visited {
    color: #1f4e79;
}

.active-tab-button {
    background-color: transparent;
    width: 100%;
    padding: 0.6vw 0vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    font-family: "Jost-Medium";
    font-size: 0.96vw;
    border: none;
    cursor: pointer;
    border-bottom: 0.18vw solid #172d42;
}

/* Styles for error components */
.error-component-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.error-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.error-illustration {
    width: 36vw;
    height: 36vw;
}

/* styles for login & signup components */
.login-component-container {
    font-family: "Jost-Regular";
    background-image: linear-gradient(to right, #6190e8, #a7bfe888);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-container {
    width: 70%;
    height: 78%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 1vw;
    padding: 1vw;
}

.illustration-container {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
}

.illustration-container>img {
    width: 100%;
    height: 100%;
}

.form-container {
    width: 50%;
    height: 100%;
    background-color: #a7bfe888;
}

.form-container>form>.title {
    font-family: "Jost-Bold";
    text-align: center;
    font-size: 1.6vw;
}

.form-container>form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16% 14%;
    text-align: left;
}

.textboxes {
    display: flex;
    flex-direction: column;
    gap: 1.6vw;
}

.textboxes>label {
    display: flex;
    flex-direction: column;
    gap: 0.4vw;
}

.textbox {
    width: 100%;
    height: 2.8vw;
    padding: 0 1vw;
    font-family: "Jost-Regular";
    font-size: 0.83vw;
    box-shadow: none;
}

/* Styles for Learning Path Card */
.path-card {
    border-radius: 0.4vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-family: "Jost-Regular";
    border: 0.1vw solid #ccc;
    width: 100%;
}

.path-card-image {
    width: 30%;
    border-radius: 0.4vw;
}

.path-card-body {
    width: 100%;
    padding: 1.6vw 2.4vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.4vw;
}

.path-card-body>.section-1 {
    display: flex;
    flex-direction: column;
}

.path-card-title {
    font-family: "Jost-SemiBold";
    font-size: 1.1vw;
}

.path-card-body>.section-2 {
    display: flex;
    justify-content: space-between;
}

/* Styles for Learning Path List */
.card-deck {
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}

/* Styles for path container */
.list-component-container {
    padding: 2% 20%;
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    background-color: #ffffff;
}

/* Styles for course video component */
.video-player-container {
    padding: 1.2vw 12vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.video-navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Jost-Medium';
}

/* Styles for progress bar */
.progress-bar-container {
    width: 100%;
    height: 5px;
    background-color: #ddd;
}

.progress-bar {
    height: 100%;
    background-color: #007bff;
    transition: width 0.1s ease-in-out;
}

/* styles for course details component */
.course-details-deck {
    padding: 2% 20%;
    box-sizing: border-box;
    display: flex;
    gap: 0.4vw;
    font-family: 'Jost-Regular';
}

.course-details-deck>.card {
    padding: 1vw 8vw;
    border: 0.1vw solid black;
    border-radius: 0.1vw;
}

.card>.card-body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* styles for circle component */
.circle {
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

/* styles for profile component */
.component-container {
    padding: 2% 20%;
    font-family: 'Jost-Regular';
    font-size: 0.93vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

/* styles for link card */
.links-card-deck {
    width: 100%;
}

.link-card {
    text-decoration: none;
    color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 1.4vw 2vw;
}

.link-card-body {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    align-items: center;
    justify-content: flex-start;
}
 /* styles for icons */
 .icon-style {
    height: 2vw;
    width: 1.2vw;
 }

 .tab-icon-style {
    height: 1vw;
    width: 1vw;
 }

 .page-heading {
    width: 100%;
    padding: 0% 12%;
    background-color: #1f4e79;
    display: flex;
    align-items: center;
    gap: 1.8vw;
}
 
.page-heading h3 {
    padding: 1vw 1.2vw;
    color: #fafafa;
    background-color: transparent;
    font-family: 'Jost-SemiBold';
    text-align: left;
    border-radius: 0.2vw;
}
.page-link {
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 0.1vw;
}
.page-icon {
    background-color: transparent;
    color: #fafafa;
    height: 1vw;
    width: 1.4vw;
}
.badge-span-style {
    font-family: 'Jost-Regular';
    background-color: transparent;
    font-size: 0.85vw;
}


/* Styles for Enrolled Course Card */
.course-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-family: "Jost-Regular";
    width: 100%;
    cursor: pointer;
    padding: 1vw 0;
    border-bottom: 0.01vw solid #8185bd;
}

.course-card-image {
    width: 24%;
}

.course-card-body {
    width: 100%;
    padding: 1.0vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course-card-body>.course-section-1 {
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
}

.course-card-title {}

.course-card-text {
    font-family: 'Jost-Regular';
    font-size: 0.7vw;
    color: #6a85bd;
    display: flex;
    align-items: center;
    gap: 0.2vw;
}

.course-card-body>.section-2 {
    display: flex;
    justify-content: space-between;
}

.course-rating-style {
    color: #e59819;
    font-size: 0.74vw;
}

.course-rating-style-2 {
    font-size: 0.74vw;
    color: #e59819;
}

.course-details-container-1 {
    padding: 2% 20%;
    display: flex;
    flex-direction: column;
    gap: 0.3vw;
    background-color: #1f4e79;
    align-items: flex-start;
    color: #ffffff;
}

.course-details-container-2 {
    padding: 2% 20%;
}

.course-details-container-2-in {
    border: 0.1vw solid #8185bd;
    border-radius: 0.1vw;
    width: 100%;
    padding: 2% 3%;
    font-family: 'Jost-Regular';
    font-size: 0.9vw;
    text-align: left;
}