.hero-section {
    padding: 10px;
      position: relative;
      left: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .hero-title1 { 
      margin-top: 62px;
      padding: 1px 14px;
      font-size: 48px;
      font-family: 'Cinzel',serif;
      margin-left: -75px;
    }
    
    .hero-title2{
      margin-top: 20px;
      padding: 1px 14px;
      font-size: 48px;
      font-family: 'Cinzel',serif;
      margin-left: 4px;
    }
    .hero-title1 + .hero-title2 {
      margin-top: 14px; /* Adjust the margin as needed */
    }
    
    .hero-subtitle1 {
      margin-top: 5px;
      padding: 13px 12px;
      font-size: 17px;
      font-family: 'Jost',sans-serif;
    }

    
    .hero-subtitle2 {
      margin-top: -15px;
      padding: 15px 14px;
      font-size: 17px;
      font-family: 'Jost',sans-serif;
    }
    
    .hero-subtitle + .hero-subtitle{
      margin-top: -8px;
      }
   
      .hero-buttons {
      margin-top: 20px;
    }
    
    .hero-button {
      background-color: #333333;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      margin-right: 10px;
    }
    
    .hero-button-start {
      margin-left: -140px;
     padding: 15px 21px;
     font-size: 18px;
    }
    
    .hero-button-browse {
      padding: 15px 20px;
      background-color: #fff;
      color: #333333;
      border: 1px solid #333333;
      font-size: 18px;
    }
    .hero-button-browse:hover{
      border-bottom: 2px solid #FFD700;
         }
  
    .hero-image {
      width: 350px; /* Adjust the width as needed */
      height: 350px; /* Maintain aspect ratio */
      object-fit: cover; /* Adjust the image placement within the container */
      position: absolute;
      top: 60%;
      right: 0;
      transform: translate(-15%, -55%);
    }
    .course-details {
      margin-top: -4px;
      margin-right: 849px;
      margin-left: 30px; /* Move 20px from the left */
      background-color: #ffffff;
      padding: 10px;
       width: 300px;
      font-size: 8px;
    }
    .course-title {
      font-size: 12px;
      margin-bottom: 60px;
      margin-top: 20px;
      text-align: left;
    }
    .description{
      font-size: 12px;
      margin-bottom: 60px;
    
      text-align: left;
    }
    
   

