.title {
    text-align: left;
    margin-left: 40px;
    padding-top: 20px;
  }
  
  .description {
    padding-top: 30px;
    margin-left: 40px;
  }

.icon-container {
    display: flex;
    justify-content: space-between;
    padding-top: -30px;
  }
  
  .column {
    flex-basis: 50%;
  }
  
  .column:not(:first-child) {
    margin-top: -30px;
    margin-right: 1150px; /* Set the spacing between columns */
  }
  .column:not(:last-child){
    margin-top: -30px;
  }
  .icon {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    background-color: #ccc; /* Add your desired background color */
    margin-bottom: 20px;
  }
  
  .icon-container {
    padding-left: 35px; /* Set left padding */
  }
  