.title {
  text-align: left;
  margin-top: 20px;
  padding-left: 40px; /* Added padding-left */
  padding-right: 60px; /* Added padding-right */
  font-family: 'Cinzel', serif;
}

.description {
  text-align: left;
  padding: 2px;
  padding-top: 30px;
  padding-left: 40px; /* Added padding-left */
  padding-right: 60px; /* Added padding-right */
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

.course-container {
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  padding-left: 60px; /* Added padding-left */
  padding-right: 60px; /* Added padding-right */
  width: 1000px;
  height: 400px;
}


  .first-container, .second-container {
    flex-basis: calc(60% - 10px);
    max-width: 500px;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
  }
  
   .stats-image {
    width: 380px;
    height: 200px;
    margin-bottom: 20px;
    margin-right: 80px;
  }

  .course-title {
    font-size: 16px;
    text-align: left;
    margin-left: -28px;
    margin-top: -10px;
  }
  
  .descriptionOne{
    margin-top: -50px;
    font-size: 14px;
    text-align: left;
    margin-left: -30px;
    line-height: 1.8;
  }
  .descriptionOne, .descriptionTwo {
    margin-bottom: 10px;
  }
  

  .view-course-button, .view-course-buttonOne {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px;
  }

  .view-course-button {
    margin-top: 2px;
    margin-left: -232px;
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    border-radius: 4px;
    padding: 5px 10px;
    padding-top: 10px;
    padding-bottom: 10px; ;
    width: 113px;
  }
 
  .view-course-buttonOne {
    margin-top: 2px;
    margin-left: -420px;
   background-color: black;
   color: white;
   border: none;
   text-align: center;
   border-radius: 4px;
   padding: 5px 10px;
   padding-top: 10px;
   padding-bottom: 10px; 
   width: 113px;
  }

  .second-container {
    margin-left: 10px;
  }

  .stats-imageOne {
    width: 333px;
    height: 200px;
    margin-bottom: 20px;
    margin-left: -200px;
  }

.course-titleOne{
  font-size: 16px;
  margin-bottom: 10px;
  text-align: left;
  margin-left: -90px;
  margin-top: -10px;
}

.descriptionTwo{
  margin-top: -2px;
  font-size: 14px;
  text-align: left;
  margin-left: -90px;
  line-height: 1.8;
}


.course-container:hover .view-course-button,
.first-container:hover .view-course-button,
.second-container:hover .view-course-button {
  background-color: black;
  color: white;
  border: none;
}

.course-container:hover .view-course-buttonOne,
.first-container:hover .view-course-buttonOne,
.second-container:hover .view-course-buttonOne {
  background-color: black;
  color: white;
  border: none;
}

